<section id="education">
    <h3>Programs & Certifications</h3>
    <div class="degree">
        <h4>Full Stack .Net Developer Bridging Program</h4>
        <p>Humber college │ Toronto, Canada</p>
        <p>Jan 2024 - Present</p>
        <p class="degree-description">Course Include: C# Advance, ASP.NET, DB SQL, HTML, CSS</p>
    </div>
    <div class="degree">
        <h4>Junior Data Analyst Program(IBM Data Analyst Professional Certificate)</h4>
        <p>NPower │ Toronto, Canada</p>
        <p>Jan 2023 - April 2023</p>
        <p class="degree-description">(Completed 14-week intensive training in computer technology and project management)</p>
    </div>
    <div class="degree">
        <h4>Microsoft Azure Fundamentals Professional Certificate</h4>
        <p>NPower │ Toronto, Canada</p>
        <p>Feb 2023 </p>
        <p class="degree-description">(Knowledgeable in cloud computing and Azure services,able to control Azure spending and manage bills efficiently)</p>
    </div>
  <h3>Education</h3>
  <div class="degree">
    <h4>Master of Software Engineering</h4>
    <p>University: National University of Science and Technology</p>
    <p>2016 - 2018</p>
   </div>
  <div class="degree">
    <h4>Bachelor of Computer Science</h4>
    <p>University: Fatima Jinnah Women University</p>
    <p>2011 - 2015</p>
  </div>
  
</section>

